In [1]:
import pandas as pd
import pandera as pa

In [4]:
df = pd.read_csv("ocorrencia_teste.csv", parse_dates=['ocorrencia_dia'], dayfirst=True)
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
...,...,...,...,...,...,...,...,...,...
94,40168,40168,INCIDENTE,MONTES CLAROS,MG,SBMK,2010-03-17,01:34:00,0
95,40329,40329,INCIDENTE,SÃO PAULO,SP,SBSP,2010-03-18,12:10:00,0
96,41998,41998,INCIDENTE,CONFINS,MG,SBCF,2010-03-18,13:37:00,0
97,41999,41999,INCIDENTE,GUARULHOS,SP,SBGR,2010-03-18,03:00:00,0
98,40088,40088,ACIDENTE,UIRAMUTÃ,RR,****,2010-03-19,13:10:00,3

In [3]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

In [4]:
df.ocorrencia_dia.dt.month

0     3
1     3
2     3
3     4
4     5
     ..
94    3
95    3
96    3
97    3
98    3
Name: ocorrencia_dia, Length: 99, dtype: int64